* {
    background-color: lightblue;
}

body {
    margin: 0;
}

/* Nav bar */

#navbar {
    display : flex;
    gap: 20px;
    justify-content: flex-end;
    padding-right: 15px;
    padding-top: 15px;
}

.navlinks {
    text-decoration: none;
    font-weight: bolder;
    font-size: 26px;
}

/* Slideshow on home page */

#slideshow {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.Slides {
    width: 600px;
    height: 450px;
}

/* About section of home page */

#about {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

/* Services page */

#services {
    padding : 50px;
    display: flex;
    flex-direction: column;
}

.serviceheaders {
    font-size: 42px;
}

.servicepara {
    font-size: 35px;
}

/* Prcing page */

#pricing {
    padding : 50px;
    display: flex;
    flex-direction: column;
}

/* Contact area on bottom of every page */

#contact {
    padding : 50px;
    display: flex;
    flex-direction: column;
}

/* General text */

h1 {
    text-align: center;
    font-size: 40px;
}

p {
    text-align: center;
    font-size: 30px;
    width: 900px;
    align-self: center;
}
